h1{
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  color: chartreuse;
  
}
input[type="text"]
{
  margin:10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color:rgba(0,0,0,63) ;
  box-shadow: 0 0 15px rgba(255, 255,255, 0.2);
  color: white;
}
input[type="text"]::placeholder{
  color: white;
  font-family: 'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="number"]::placeholder{
  color: white;
  font-family: 'segoe UI',tahoma,Geneva,verdana,sans-serif;
}
.signup{
  background: rgba(15, 14,14, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
  width: 300px;
  height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.parrafos{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: medium;
  margin-bottom: 15px;
}
a{
  color: rgb(23, 247,  2);
  cursor: pointer;
}
#button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(23, 247, 2);
  color: #000;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
}
body{
  background: url("naturel.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial,sans-serif;
}
input[type="number"]{
  margin:10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color:rgba(0,0,0,63) ;
  box-shadow: 0 0 15px rgba(255, 255,255, 0.2);
  color: white;
}
